@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    /* background-color: rgb(240, 238, 236); */
}
body{
    background-color: rgb(248, 248, 248);
}
.one{
    background-color: aqua;
    display: flex;
    height: 100px;
}
.two{
    background-color: rgb(255, 229, 207);
    display: flex;
}
.norm{
    position: relative;
    left: 230px;
    height: 452px;
    width: 462px;
    top: 29px;
    border-radius: 50%;
}
.helloi{
    padding-bottom: 30px;
    position: relative;
    background-color: rgb(248, 248, 248);
    width: 1020px;
    left: 495px;
    font-size: 2em;
    letter-spacing: .04em;
}
.hello{
    font-size: 82px;
    padding: 30px;
}
.myname{
    padding: 30px;
}
.three{
    position: relative;
    background-color: rgb(255, 229, 207);
    top: 100px;
    height: 400px;
}
.ai{
    position: relative;
    background-color: rgb(248, 248, 248);
    width: 820px;
    font-size: 2em;
    height: 403px;
    letter-spacing: 0.04em;
    left: 3px;
    padding: 20px;
    top: -1px;
}
.little{
    font-size: 62px;
}
.skillset{
    position: relative;
    top: -140px;
    left: 300px;
    font-size: 42px;
    border-radius: 5px;
    /* background-color: red; */
    width: 300px;
}
.btn{
    position: relative;
    display: block;
    left: 990px;
    top: -250px;
    width: 200px;
}
.html{
    position: absolute;
    top: -80px;
    height: 60px;
    width: 800px;
    border-radius: 10px;
    font-size: 30px;
}
.html:hover{
    background-color: yellow;
    cursor: pointer;
}
.css:hover{
    background-color: yellow;
    cursor: pointer;
}
.java:hover{
    background-color: yellow;
    cursor: pointer;
}
.react:hover{
    background-color: yellow;
    cursor: pointer;
}
.css{
    position: relative;
    width: 800px;
    height: 60px;
    border-radius: 10px;
    top: -43px;
    font-size: 30px;
}
.java{
    top: -20px;
    position: relative;
    width: 800px;
    height: 60px;
    border-radius: 10px;
    font-size: 30px;
}
.react{
    top: 4px;
    position: relative;
    width: 800px;
    height: 60px;
    border-radius: 10px;
    font-size: 30px;
}
.four{
    position: relative;
    background-color: rgb(255, 229, 207);
    height: 620px;
    top: 200px;
}
.want{
    position: relative;
    left: 760px;
    width: 470px;
    font-size: 45px;
    top: 20px;
}
form{
    position: inherit;
    width: 500px;
    left: 500px;
    top: 50px;
}
.name{
    position: inherit;
    font-size: 23px;
}
.na{
    position: relative;
    height: 45px;
    width: 1000px;
    top: 9px;
    font-size: 20px;
    border-radius: 5px;
}
.email{
    position: relative;
    top: 40px;
    font-size: 23px;
}
.em{
    position: relative;
    top: 50px;
    height: 45px;
    width: 1000px;
    font-size: 20px;
    border-radius: 5px;
}
.message{
    position: relative;
    top: 80px;
    font-size: 23px;
}
.ma{
    position: relative;
    top: 95px;
    height: 145px;
    width: 1000px;
    font-size: 25px;
    border-radius: 10px;
}
.send{
    position: relative;
    top: 130px;
    height: 50px;
    width: 70px;
    border-radius: 5px;
}
.five{
    background-color: rgb(255, 229, 207);
    position: relative;
    height: 200px;
    top: 200px;
}
.fa-linkedin-in{
    position: relative;
    font-size: 80px;
    left: 1450px;
    top: 100px;
}
.fa-facebook-f{
    position: relative;
    font-size: 75px;
    left: 1200px;
    top: 95px;
}
.zuri{
    position: relative;
    top: 10px;
    left: 500px;
    width: 110px;
}
.i4g{
    position: relative;
    top: -220px;
    left: 740px;
    width: 180px;
    height: 102px;
}
.hng{
    position: relative;
    top: -105px;
    left: 1050px;
    width: 110px;
}
.prac{
    top: 200px;
    position: relative;
    background-color: blueviolet;
}
.fullname{
    background-color: brown;
}



@media(max-width:800px){
    .norm{
        left: 85px;
        width: 200px;
        height: 200px;
    }
    .helloi{
        left: -169px;
        font-size: 18px;
        top: 240px;
        width: 2000px;
        font-weight: 400px;
    }
    .hello{
        font-size: 22px;
    }
    .myname{
        position: relative;
        /* background-color: yellow; */
        width: 300px;
        top: -40px;
    }
    .three{
        top: 300px;
    }
    .ai{
        top: -130px;
        left: 20px;
        width: 320px;
        background-color: whitesmoke;
        font-size: 27px;
        /* height: 500px; */
    }
    .little{
        position: relative;
        left: 42px;
        font-size: 37px;
        width: 200px;
    }
    .enjoy{
        position: relative;
        font-size: 18px;
        width: 292px;
        left: -4px;
    }
    .btn{
        left: -200px;
        width: 20px;
        top: 140px;
        background-color: blue;
    }
    .skillset{
        font-size: 32px;
        width: 222px;
        left: px;
        /* background-color: burlywood; */
    }
    .html{
        position: relative;
        width: 282px;
        height: 32px;
        left: 240px;
        top: -130px;
        font-size: 19px;
    }
    .css{
        position: relative;
        width: 282px;
        height: 32px;
        left: 240px;
        top: -110px;
        font-size: 19px;
    }
    .java{
        position: relative;
        width: 282px;
        height: 32px;
        left: 240px;
        top: -90px;
        font-size: 19px;
    }
    .react{
        position: relative;
        width: 282px;
        height: 32px;
        left: 240px;
        top: -70px;
        font-size: 19px;
    }
    .four{
        position: relative;
        /* background-color: rgb(185, 91, 37); */
        height: 22px;
    }
    .want{
        left: 30px;
        font-size: 32px;
        top: 452px;
        width: 300px;
        background-color: rgb(255, 229, 207);
        border-radius: 5px;
    }
    form{
        /* background-color: turquoise; */
        left: 50px;
        top: 500px;
        width: 20px;
    }
    .na{
        position: relative;
        width: 282px;
        height: 32px;
        left: -10px;
    }
    .em{
        position: relative;
        width: 282px;
        height: 32px;
        left: -10px;
    }
    .ma{
        position: relative;
        width: 282px;
        height: 92px;
        left: -10px;
    }
    .name{
        left: -8px;
    }
    .email{
        width: 200px;
        left: -8px;
    }
    .message{
        width: 200px;
        left: -8px;
    }
    .five{
        position: relative;
        height: 22px;
    }
    .zuri{
        top: 1050px;
        left: 30px;
    }
    .i4g{
        top: 820px;
        left: 160px;
        height: 110px;
    }
    .hng{
        top: 1050px;
        left: 130px;
    }
    .fa-facebook-f{
        top: 1000px;
        left: 130px;
    }
    .fa-linkedin-in{
        top: 1000px;
        left: 80px;
    }
    .html:hover{
        background-color: yellow;
        cursor: pointer;
    }
    .css:hover{
        background-color: yellow;
        cursor: pointer;
    }
    .java:hover{
        background-color: yellow;
        cursor: pointer;
    }
    .react:hover{
        background-color: yellow;
        cursor: pointer;
    }
    .get{
        position: relative;
        top: 160px;
        left: 100px;
    }
    #getNamee{
        position: relative;
        top: 170px;
        background-color: rgb(255, 229, 207);
    }

    
}
.get{
    background-color: rgb(64, 218, 166);
    height: 70px;
    width: 160px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 400;
    /* background-color: rgb(255, 229, 207); */
}
#getNamee{
    font-size: 40px;
    /* background-color: yellow; */
    height: 70px;
    /* background-color: yellow; */
    background-color: rgb(255, 229, 207);
    width: 360px;
    text-align: center;
}
